data/
!data/README.txt
old/*
parsers/*
cemp/test_set_annots.tsv
cemp/training_set_annots.tsv
cemp/subset_training_set_annots.tsv
cemp/subset_training_set_gold_annots.tsv
cemp/subset_training_set.txt
cemp/ChEBI*
cemp/DrugBank*
cemp/ChEMBL*
cemp/HMDB*
cemp/training*
cemp/single_dicts*
cemp/ibent*
cemp/final*
cemp/experiment*
cemp/cemp*
cemp/backup
cemp/simple_evaluation.py
helper_scripts/*
.ipynb_checkpoints/
*.pyc
